body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Simulation-1 24F */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

/* Simulation-1 22C-2, 23E */
.home-header {
  background-color: #ab2a19;
  color: white;
}

/* Simulation-1 22C-3 */
.home-header > div {
  height: 70px;
}

/* Simulation-1 24C */
.panel > div {
  width: 700px;
  margin: auto;
}

.shelf-button {
  background-color: #d34735;
  color: white;
  margin: 10px;
}

.home-header img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.logo-wrapper {
  display: flex;
}